* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

div {
  display: block;
}

main {
  display: block;
  unicode-bidi: isolate;
}

img {
  max-width: 100%;
  border-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color;
}

svg {
  overflow: hidden;
}

.header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1060;
  background-color: #23252b;
  font-family: Lato, sans-serif;
}

.header_content {
  display: flex;
  height: 3.75rem;
}

.menu_izquierda {
  display: flex;
}

@media (min-width: 35.5rem) {
  .menu_izquierda {
    flex: 1 1 0%;
  }
}

.menu_derecha_main {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
}

.menu_open {
  display: flex;
}

.button_open_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1.125rem;
}

.titulo_open_menu {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  display: none;
  line-height: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: #dadada;
}

@media (min-width: 35.5rem) {
  .titulo_open_menu {
    display: block;
  }
}

.menu_desplegable {
  position: fixed;
  width: 100%;
  color: #fff;
  background-color: #141519;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  top: 3.75rem;
  height: calc(100% - 3.75rem);
  z-index: 1050;
}

@media (min-width: 35.5rem) {
  .menu_desplegable {
    width: 18.75rem;
  }
}

.checkbox_menu {
  display: none;
}

.title {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: rgb(160, 160, 160);
  font-weight: 600;
  line-height: 1.33;
  padding: 0.625rem 1.125rem;
}

.menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.menu_list {
  cursor: pointer;
  list-style: none;
}

.menu_list_title {
  display: block;
  color: rgb(248, 248, 248);
  padding: 0.75rem 1.125rem;
  line-height: 1.5;
}

.menu_desplegable_open {
  border-bottom: 0.125rem solid rgb(35, 37, 43);
  padding: 0.625rem 0px;
}

/* funcion de menu desplegable */
.checkbox_menu:checked ~ .menu_desplegable {
  transition: transform 0.5s ease 0s,
    opacity 0.5s cubic-bezier(0, 0, 0.25, 1) 0s, visibility 0s ease 0s;
  opacity: 1;
  visibility: visible;
}

/* fin funcion */
.logo_mobil {
  display: none;
}

@media (min-width: 35.5rem) {
  .logo_mobil {
    display: block;
  }
}

.logo_tablet {
  display: block;
}

@media (min-width: 35.5rem) {
  .logo_tablet {
    display: none;
  }
}

.menu_derecha {
  list-style-type: none;
  display: flex;
}

.header_svg {
  padding: 1.125rem;
}

/* no quitar */
.header_separacion {
  height: 3.75rem;
}

/* fin no quitar */
/* ===========================================================Body====================================================*/
.main_main {
  display: block;
}

@media (min-width: 64rem) {
  .main_zone_1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
  }
}

.main_zone_1 .zone_1_list,
.main_zone_1 .zone_1_content.zone_1_list_img {
  position: relative;
  display: block;
  overflow: hidden;
}

.main_zone_1 .zone_1_list {
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.main_zone_1 .zone_1_list,
.main_zone_1 .zone_1_content {
  position: relative;
  display: block;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 10;
  background-image: linear-gradient(90deg, black, transparent, black);
}

/*===================================================================================================================*/
.main_zone_2 {
  position: relative;
  background-color: #23252b;
  color: #fff;
  overflow: hidden;
  padding-top: 2.5rem;
  z-index: 1;
}

@media (min-width: 30rem) {
  .main_zone_2 {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

/* -------------------------------------------------------------------------------------------------------------------- */
.backgroud {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroud_top {
  inset-block-start: -3.25rem;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  height: auto;
}

.backgroud_top .backgroud {
  inset-block-start: -3.25rem;
  z-index: 2;
}

.backgroud_top_content {
  width: 100%;
  padding-bottom: 62.5%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.zona_2_title {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.75rem;
  color: #fff;
}

.texto {
  text-align: center;
  color: #fff;
  margin: 0;
  font-weight: 700;
}

@media (min-width: 64rem) {
  .zona_2_title h1 {
    margin-bottom: 2.3125rem;
    padding: 0 11.0625rem;
    font-size: 2.125rem;
  }
}

/* -------------------------------------------------------------------------------------------------------------------*/
.zona_2_bandeja {
  display: flex;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 0.5rem;
  margin-bottom: 2rem;
  padding: 0px 0.5rem;
  column-gap: 0.625rem;
  z-index: 3;
}

@media (min-width: 35.5rem) {
  .zona_2_bandeja {
    justify-content: center;
    margin-bottom: 2.375rem;
  }
}

.boton3 a svg.icon-before,
.boton3 button svg.icon-before {
  margin-inline-end: 0.25rem;
}

.bandeja_boton {
  fill: rgb(250, 184, 24);
}

.bandeja_boton_1 {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100%;
  transition: background-color 0.2s ease;
}

.bandeja_boton_1 button {
  background-color: #23252b;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1.4rem;
  height: 3.125rem;
}

/* __________________________________________________________________________________________________________ */
.zona_2_filtro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 30rem) {
  .zona_2_filtro {
    margin: 0 40px;
  }
}

.filtro_subtitulo {
  font-weight: 700;
}

.filtro_item {
  margin-right: -0.5rem;
}

.item_1 {
  position: relative;
  display: flex;
  -flex-shrink: 0;
  flex-shrink: 0;
  font: inherit;
}

.item_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: auto;
  max-width: 100%;
  height: 2.75rem;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.625rem 0.75rem 0.625rem 0.5rem;
}

.item_icon {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  color: #a0a0a0;
}

.item_title {
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.29;
  color: #a0a0a0;
  margin-inline-start: 0.5rem;
}

/* =================================================================================================================== */
.card_main {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-block-start: 1.625rem;
  padding: 0 1.25rem 2.5rem;
  column-gap: 0.9375rem;
  row-gap: 0.9375rem;
  transition: background-color 0.2s ease 0s;
}

@media (min-width: 30rem) {
  .card_main {
    margin-top: 1.9375rem;
    padding-bottom: 9.6875rem;
    column-gap: 0.5625rem;
  }
}

@media (min-width: 80rem) {
  .card_main {
    padding: 0 9.0625rem 10.75rem;
    column-gap: 1.375rem;
    row-gap: 1.5625rem;
  }
}

.card {
  margin-left: auto;
  margin-right: auto;
  flex-basis: 47.3%;
  position: relative;
  overflow: hidden;
}

@media (min-width: 23.4375rem) {
  .card {
    flex-basis: 47.6%;
  }
}

@media (min-width: 30rem) {
  .card {
    margin-left: 0;
    margin-right: 0;
    flex-basis: 31.6%;
  }
}

@media (min-width: 90rem) {
  .card {
    flex-basis: 32%;
  }
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.8125rem;
}
/* ----------------------------------------------card_pegatina------------------------------------------------------ */
.card_pegatina {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  top: 0.5rem;
  left: 0.5rem;
  gap: 0.25rem;
}

.Novedad {
  font-weight: 800;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 1rem;
  font-size: 0.625rem;
  line-height: 0.875rem;
  box-sizing: border-box;
  padding: 0.0625rem 0.25rem;
  column-gap: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0.0625rem 0.25rem 0px;
  background-color: rgb(255, 148, 77);
  color: rgb(0, 0, 0);
}

.Premiun {
  font-weight: 800;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 1rem;
  font-size: 0.625rem;
  line-height: 0.875rem;
  box-sizing: border-box;
  padding: 0.0625rem 0.25rem;
  column-gap: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0.0625rem 0.25rem 0px;
  background-color: rgb(20, 21, 25);
  color: rgb(250, 184, 24);
}

/* ------------------------------------------------------------------------------------------------------------------- */
.card_img {
  overflow: hidden;
  position: relative;
  border-radius: 0.3125rem;
  aspect-ratio: 1 / 1;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -0.5rem;
  inset-inline-start: -0.5rem;
  padding: 0.5rem;
  border-radius: 0.8125rem;
}
.card_img:hover {
  transform: scale(1.05);
}
/* ----------------------------------------------------------------------------------------------------------------- */
.card_info {
  position: relative;
}

.card_titulo {
  color: #fff;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.125rem;
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3125rem;
}

@media (min-width: 50rem) {
  .card_titulo {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 35.5rem) {
  .card_titulo {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

@media (min-width: 35.5rem) {
  .card_titulo {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 64rem) {
  .card_titulo {
    margin-bottom: 0.5rem;
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
.card_plataforma {
  height: 1.875rem;
}

.plataforma_list {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
  column-gap: 0.4375rem;
}

@media (min-width: 35.5rem) {
  .plataforma_list {
    column-gap: 0.625rem;
  }
}

.icon-svg {
  fill: currentcolor;
  color: rgb(255, 255, 255);
  width: auto;
  opacity: 0.5;
  height: 1.25rem;
}

@media (min-width: 35.5rem) {
  .icon-svg {
    height: 1.5rem;
  }
}

/* =================================================================================================================== */
.news_main {
  background-color: rgb(0, 0, 0);
  position: relative;
  padding-block: 1.25rem;
  padding-inline: 1.25rem;
}

@media (min-width: 30rem) {
  .news_main {
    padding-block: 4rem;
    padding-inline: 2.5rem;
  }
}

.news_content {
  position: relative;
  margin-inline: auto;
  max-width: 90rem;
}

.news_pegatina {
  display: none;
}

@media (min-width: 48rem) {
  .news_pegatina {
    position: absolute;
    top: -9.6875rem;
    inset-inline-start: 0.5625rem;
    width: 8.1875rem;
    height: 9.357rem;
    background: url(./Img/yuzu-refresh-.png) center center / cover no-repeat;
    z-index: 3;
    display: block;
  }
}

/* ------------------------------------------------------------------------------------------------------------------- */
.news_flex {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1.5rem;
}

.news_title {
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (min-width: 50rem) {
  .news_title {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 35.5rem) {
  .news_title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

.news_view {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
  min-height: auto;
  min-width: auto;
  padding: 0px;
}

.news_view a {
  color: rgb(160, 160, 160);
}

@media (min-width: 35.5rem) {
  .news_filtro a,
  button {
    width: auto;
  }
}

.icon_news {
  fill: currentcolor;
  transition: none 0s ease 0s;
  margin-inline-start: 0.25rem;
}

/* ------------------------------------------------------------------------------------------------------------------- */
.news_list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 1.25rem;
  z-index: 2;
}

@media (min-width: 30rem) {
  .news_list {
    row-gap: 3.125rem;
  }
}

@media (min-width: 80rem) {
  .news_list {
    column-gap: 0.875rem;
  }
}

.articulo {
  flex-grow: 1;
  max-width: calc(50% - 0.625rem);
}

@media (min-width: 48rem) {
  .articulo {
    width: 43.39vw;
    max-width: calc(50% - 0.5rem);
  }
}

.news_art_img_contenedor {
  position: relative;
  margin-block-end: 0.5rem;
}

@media (min-width: 30rem) {
  .news_art_img_contenedor {
    margin-block-end: 0.875rem;
  }
}

.news_art_img {
  width: 100%;
  height: 100%;
  inset: 0px;
  object-fit: cover;
}

.news_art_title {
  font-size: 1rem;
  overflow: hidden;
  font-weight: 100;
  text-overflow: ellipsis;
  margin-block-end: 0.5rem;
  -box-orient: vertical;
  -line-clamp: 2;
  color: rgb(255, 255, 255);
}

@media (min-width: 30rem) {
  .news_art_title {
    -line-clamp: 3;
    margin-block-end: 0.125rem;
    font-size: 1.25rem;
  }
}

.news_art_fecha {
  font-size: 0.75rem;
  color: rgb(160, 160, 160);
}

.news_art_autor {
  font-size: 0.75rem;
  color: rgb(160, 160, 160);
}

/* ==================================================================================================================== */
.gmail_main {
  position: relative;
  padding-block-end: 4rem;
}

.gmail_info {
  text-align: center;
  padding-block-start: 4.8125rem;
  padding-inline: 0.625rem;
  margin-block-end: 2.125rem;
}

.gmail_spr {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  line-height: var(--line-height);
  font-weight: 500;
  font-size: 0.875rem;
  --line-height: 1.125rem;
}

/* -------------------------------------------------------------------------------------------------------------------- */
.gmail_formulario {
  margin-block-start: 1rem;
  max-width: 34.375rem;
  margin-inline: auto;
}

.gmail_email {
  position: relative;
  max-width: 100%;
  color: rgb(255, 255, 255);
  text-align: start;
  height: 3.75rem;
  padding-block-start: 1.5rem;
  box-sizing: border-box;
  border-block-end: 0.125rem solid rgb(89, 89, 91);
}

@media (min-width: 35.5rem) {
  .gmail_email {
    max-width: 20.625rem;
    margin-inline: auto;
  }
}

/* .gmail_email_content {
} */

.email_text_content {
  position: absolute;
  overflow: hidden;
  inset-inline: 0px;
  transition: transform 0.2s cubic-bezier(0.5, 0, 0.25, 1) 0s;
}

.gmail_formulario {
  position: relative;
  width: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font: inherit;
  border: none;
}

.email_text {
  display: block;
  transition: transform 0.2s cubic-bezier(0.5, 0, 0.25, 1) 0s;
}

/* -------------------------------------------------------------------------------------------------------------------- */
.gmail_checkbox {
  position: relative;
  color: rgb(160, 160, 160);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0.125rem;
  margin: 0.125rem;
  margin-block-start: 1rem;
}

.checkbox_gmail {
  display: none;
}

.checkbox_svg {
  position: relative;
  display: block;
  background-color: rgb(25, 46, 56);
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid rgb(160, 160, 160);
  margin-inline-end: 0.5rem;
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 0.125rem;
}

.checkbox_txt {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 125rem;
  font-weight: 500;
  font-size: 0.875rem;
}

@media (min-width: 35.5rem) {
  .checkbox_txt {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.checkbox_txt a {
  color: rgb(244, 117, 33);
}

/* ------------------------------------------------------------------------------------------------------------------- */
.gmail_sumit_main {
  margin-top: 2.25rem;
  margin-block-start: 0.75rem;
}

@media (min-width: 35.5rem) {
  .gmail_sumit_main {
    text-align: center;
    margin-top: 1.25rem;
  }
}

.gmail_sumit_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 800;
  min-width: 7.5rem;
  min-height: 2.5rem;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.125rem;
  background-color: transparent;
  color: rgb(89, 89, 91);
  text-decoration: none;
  border-style: none;
  padding: 0.5rem 1rem;
}

@media (min-width: 35.5rem) {
  .gmail_sumit_main button {
    width: auto;
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
.gamil_icon {
  text-align: center;
}

.gamil_icon a {
  display: inline-block;
  margin-inline: 1.5625rem;
}

.gamil_icon svg {
  width: auto;
  position: relative;
}

.fill {
  fill: #d9d9d9;
}

.fill-f {
  fill: #000000;
}

/* =================================================================================================================== */
.about_main {
  background-color: rgb(0, 0, 0);
  padding-block: 3rem;
  padding-inline: 1.25rem;
}

@media (min-width: 30rem) {
  .about_main {
    padding-inline: 1.875rem;
    padding-block-end: 5.9375rem;
  }
}

@media (min-width: 48rem) {
  .about_main {
    padding-block-end: 14.4%;
  }
}

.about_content {
  width: 100%;
  position: relative;
  margin-inline: auto;
  z-index: 3;
}

@media (min-width: 64rem) {
  .about_content {
    max-width: 61.875rem;
  }
}

@media (min-width: 48rem) {
  .about_content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template:
      "wrapper-headline wrapper-headline" min-content
      "wrapper-text wrapper-img" 1fr / 58% 1fr;
    gap: 0px;
  }
}

@media (min-width: 48rem) {
  .about_title_box {
    grid-area: wrapper-headline;
  }
}

@media (min-width: 48rem) {
  .about_text_box {
    grid-area: wrapper-text;
  }
}

@media (min-width: 48rem) {
  .about_img {
    position: relative;
    display: grid;
    grid-area: wrapper-img;
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
.about_title {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (min-width: 35.5rem) {
  .about_title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 50rem) {
  .about_title {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

.about_border {
  margin-block-end: 1.5rem;
  height: 0.25rem;
  background: linear-gradient(
    90deg,
    rgb(239, 67, 35) 0%,
    rgb(255, 201, 77) 100%
  );
}

/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width: 48rem) {
  .about_text {
    margin-inline-end: 0.875rem;
  }
}

.about_text_content {
  margin-block-end: 3rem;
}

.about_text1 {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.125rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.about_text_content2 a {
  color: rgb(244, 117, 33);
}

.about_img {
  display: none;
}

@media (min-width: 48rem) {
  .about_img {
    position: relative;
    display: grid;
    grid-area: wrapper-img;
  }
}

.about_img .hime {
  position: absolute;
  inset-block-start: -10.4375rem;
  inset-inline-start: 0.8125rem;
  width: 42.71vw;
  max-width: 29.44rem;
}

/* ================================================================================================================= */
.legal_main {
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-block-start: -0.0625rem;
  background-color: rgb(0, 0, 0);
  padding-block: 1.5rem 2rem;
}

@media (min-width: 30rem) {
  .legal_main {
    padding-block-end: 2rem;
  }
}

.legal_box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 0.75rem;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.legal_link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.legal_link a {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  color: white;
  text-decoration: none;
  letter-spacing: 0px;
}

.legal_copy {
  color: rgb(160, 160, 160);
}

.legal_copy_txt {
  line-height: 125rem;
  font-weight: 500;
  font-size: 0.875rem;
}

@media (min-width: 35.5rem) {
  .legal_copy {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.legal_copy p {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
  white-space: pre-wrap;
  max-width: 37.5rem;
}

/* ================================================================================================================= */
.final_main {
  display: block;
  unicode-bidi: isolate;
  position: relative;
  background-color: #000;
  height: 100%;
  display: -flex;
  display: flex;
  align-items: center;
  padding-inline: 1.25rem;
  min-height: 28.375rem;
}

@media (min-width: 48rem) {
  .final_main {
    padding-block-start: 0.75rem;
    padding-inline: 10.5rem;
  }
}

@media (min-width: 64rem) {
  .final_main {
    padding-block-start: 10.0625rem;
    padding-inline: 10.5rem;
  }
}

.final_box {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 30.375rem;
  background: center / cover no-repeat url(./Img/gv-cta-final\ box.png);
  z-index: 0;
}

@media (min-width: 64rem) {
  .final_box {
    height: 38.125rem;
  }
}

/* -------------------------------------------------------------------------------------------------------------------- */
.final_content {
  display: -flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: -1rem;
  z-index: 1;
  color: #fff;
}

@media (min-width: 48rem) {
  .final_content {
    margin-top: 2.25rem;
  }
}

@media (min-width: 64rem) {
  .final_content {
    margin-top: -3.75rem;
  }
}

.final_content_txt {
  width: 100%;
  height: auto;
  display: -flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 2.5rem;
  max-width: 24.875rem;
}

@media (min-width: 48rem) {
  .final_content_txt {
    max-width: 40.5rem;
  }
}

.final_txt {
  text-align: center;
  font-style: normal;
  line-height: 1.75rem;
  letter-spacing: normal;
  padding-block-end: 0.5rem;
  padding-inline: 2rem;
  font-family: inherit;
  line-height: 2.25rem;
  font-weight: 500;
  font-size: 1.75rem;
}

@media (min-width: 35.5rem) {
  .final_txt {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}

@media (min-width: 48rem) {
  .final_txt .final_txt2 {
    line-height: 2.375rem;
  }
}

@media (min-width: 50rem) {
  .final_txt {
    font-size: 3.375rem;
    line-height: 4rem;
  }
}

@media (min-width: 64rem) {
  .final_txt {
    line-height: 3.84375rem;
    padding-block-end: 0.75rem;
  }
}

.final_content_txt2 {
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  max-width: 34rem;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.final_content_btn a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 800;
  min-width: 7.5rem;
  min-height: 2.5rem;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.125rem;
  background-color: rgb(244, 117, 33);
  color: rgb(20, 21, 25);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

@media (min-width: 35.5rem) {
  .final_content_btn a {
    width: auto;
  }
}

.final_btn {
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  width: 11.6875rem;
}

/* =================================================================================================================== */
.footer_main {
  display: block;
  font-family: Lato, sans-serif;
  padding-block: 1.25rem;
  background-image: linear-gradient(to bottom, #000, #192e38);
  color: #a0a0a0;
}

@media (min-width: 35.5rem) {
  .footer_main {
    padding-block: 1.875rem 2rem;
  }
}

@media (min-width: 50rem) {
  .footer_main {
    padding-block: 2rem;
  }
}

.footer_box {
  padding-inline: 1.25rem;
  max-width: 70.625rem;
  margin-inline: auto;
}

@media (min-width: 35.5rem) {
  .footer_box {
    padding-inline: 2.5rem;
  }
}

/* ------------------------------------------------------------------------------------------------------------------- */
.fooder_top_box {
  border-bottom: 0.0625rem solid;
  border-color: #4a4e58;
  padding-bottom: 1.25rem;
}

@media (min-width: 35.5rem) {
  .fooder_top_box {
    padding-bottom: 1.5rem;
  }
}

.fooder_top {
  border-color: #23252b;
}

.fooder_link_box {
  list-style-type: none;
  display: -flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 35.5rem) {
  .fooder_link_box {
    max-width: 30rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.0625rem;
    row-gap: 0.625rem;
    margin-inline: auto;
  }
}

@media (min-width: 50rem) {
  .fooder_link_box {
    max-width: 100%;
  }
}

.fooder_link {
  margin-bottom: 0.625rem;
  line-height: 0;
  display: flex;
}

.fooder_items {
  color: #a0a0a0;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.125rem;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
}

/* ---------------------------------------------------------------------------------------------------------------- */
.fooder_bot {
  display: -flex;
  display: flex;
  padding-top: 1.25rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  row-gap: 0.625rem;
}

@media (min-width: 35.5rem) {
  .fooder_bot {
    padding-top: 1.5rem;
    flex-direction: row;
  }
}

.fooder_bot_izquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.625rem;
}

@media (min-width: 35.5rem) {
  .fooder_bot_izquierda {
    flex-direction: row;
    column-gap: 0.5rem;
  }
}

.bot_txt {
  display: flex;
  line-height: 1.125rem;
  font-weight: 500;
}

.bot_txt::before {
  background-color: #4a4e58;
}

@media (min-width: 35.5rem) {
  .bot_txt::before {
    content: " ";
    width: 0.225rem;
    height: 1rem;
    margin-inline-end: 0.5625rem;
  }
}

/* --------------------------------------------------------------------------------------------------------------- */
.fooder_bot_derecha {
  position: relative;
  display: flex;
  flex-shrink: 0;
  font: inherit;
  max-width: 55%;
}

@media (min-width: 35.5rem) {
  .fooder_bot_derecha {
    max-width: 100%;
  }
}

.fooder_dercha_content {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: auto;
  max-width: 100%;
  height: 2.75rem;
  box-sizing: border-box;
  background-color: transparent;
  transition: background-color 0.2s ease;
  padding: 0.625rem 0.75rem 0.625rem 0.5rem;
}

@media (min-width: 35.5rem) {
  .fooder_dercha_content {
    padding: 0.625rem 0.75rem 0.625rem 0.5rem;
  }
}

.fooder_derecha_icon {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  color: #a0a0a0;
  flex-shrink: 0;
}

.fooder_derecha_txt {
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.29;
  margin-inline-start: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
